<%= bootstrap_form_for @office,
      :html => { :class => "form-horizontal office" } do |f| %>

  <%= f.hidden_field :lock_version %>

  <%= f.form_group(:name) do %>
    <%= f.text_field :name %>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                offices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
