<%= form_for @reservation, :html => { :class => "form-horizontal reservation" } do |f| %>

  <% if @reservation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :lock_version %>

  <div class="form-group">
    <%= f.label :room_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :room_id, Room.all, :id, :name_with_office %>
    </div>
    <%=f.error_span(:room_id) %>
  </div>
  <div class="form-group">
    <%= f.label :representative, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :representative, :class => 'form-control' %>
    </div>
    <%=f.error_span(:representative) %>
  </div>
  <div class="form-group">
    <%= f.label :purpose, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :purpose, :class => 'form-control' %>
    </div>
    <%=f.error_span(:purpose) %>
  </div>
  <div class="form-group">
    <%= f.label :num_participants, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :num_participants, :class => 'form-control' %>
    </div>
    <%=f.error_span(:num_participants) %>
  </div>
  <div class="form-group">
    <%= f.label :start_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :start_at, use_month_numbers: true,
                            minute_step: 5 %>
    </div>
    <%=f.error_span(:start_at) %>
  </div>
  <div class="form-group">
    <%= f.label :end_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :end_at, use_month_numbers: true,
                            minute_step: 5 %>
    </div>
    <%=f.error_span(:end_at) %>
  </div>
  <div class="form-group">
    <%= f.label :repeating_mode, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :repeating_mode, Reservation::REPEATING_MODES.invert %>
    </div>
    <%=f.error_span(:room_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                    {controller: "calendar", action: "index"},
                    class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
