<div class="row">
  <div class="col-lg-10">
    <div class="well bs-component">
<%= bootstrap_form_for @reservation,
      :html => { :class => "form-horizontal reservation" } do |f| %>

  <%= f.hidden_field :lock_version %>

  <%= f.form_group(:room_id) do %>
    <%= f.collection_select :room_id, @rooms, :id, :name_with_office %>
  <% end %>
  <%= f.form_group(:representative) do %>
    <%= f.text_field :representative %>
  <% end %>
  <%= f.form_group(:purpose) do %>
    <%= f.text_field :purpose %>
  <% end %>
  <%= f.form_group(:num_participants) do %>
    <%= f.text_field :num_participants %>
  <% end %>
  <%= f.form_group(:note) do %>
    <%= f.text_area :note ,:size => "30x10" ,:class => "form-control" %>
  <% end %>
  <%= f.form_group(:start_at) do %>
    <%= f.datetime_select :start_at, {use_month_numbers: true, minute_step: 5},
                          onchange: 'reservationStartAtChanged()' %>
  <% end %>
  <%= f.form_group(:end_at) do %>
    <%= f.datetime_select :end_at, {use_month_numbers: true, minute_step: 5},
                          onchange: 'reservationEndAtChanged()' %>
  <% end %>
  <script type="text/javascript">
    reservationEndAtChanged()
  </script>
  <%= f.form_group(:repeating_mode) do %>
    <%= f.select :repeating_mode, Reservation::REPEATING_MODE_LABELS.invert %>
  <% end %>

  <div class="form-group">
    <% if @reservation.weekly? %>
      <%= hidden_field_tag :date, params[:date] %>
      <%= label :only_day, "この日だけ変更", :class => "control-label" %>
      <%= check_box_tag :only_day, true, false, :class => "checkbox-inline" %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                    {controller: "calendar", action: "index"},
                    class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
    </div>
  </div>
</div>

