<%= form_for @reservation, :html => { :class => "form-horizontal reservation" },
  :builder => BootstrapFormBuilder do |f| %>

  <%= f.hidden_field :lock_version %>

  <%= f.form_group(:room_id) do %>
    <%= f.collection_select :room_id, @rooms, :id, :name_with_office,
                            {prompt: false}, {class: 'form-control'} %>
  <% end %>
  <%= f.form_group(:representative) do %>
    <%= f.text_field :representative, :class => 'form-control' %>
  <% end %>
  <%= f.form_group(:purpose) do %>
    <%= f.text_field :purpose, :class => 'form-control' %>
  <% end %>
  <%= f.form_group(:num_participants) do %>
    <%= f.text_field :num_participants, :class => 'form-control' %>
  <% end %>
  <%= f.form_group(:start_at) do %>
    <%= f.datetime_select :start_at, use_month_numbers: true, minute_step: 5 %>
  <% end %>
  <%= f.form_group(:end_at) do %>
    <%= f.datetime_select :end_at, use_month_numbers: true, minute_step: 5 %>
  <% end %>
  <%= f.form_group(:repeating_mode) do %>
    <%= f.select :repeating_mode, Reservation::REPEATING_MODE_LABELS.invert,
                 {prompt: false}, class: 'form-control' %>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                    {controller: "calendar", action: "index"},
                    class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
